@font-face {
    font-family: "playFair";
    src: url("./Assets/Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("./Assets/Fonts/Roboto/Roboto-Regular.ttf");
}


*{
    margin: 0;
    padding: 0;
    color: white;
    --mainBrandColor: rgb(0, 166, 255);
}

body{
    background-color: black;
}

h1 h2 h3{
    font-family: "playFair";
}

p{
    font-family: "roboto";
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.heroSection{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80vh;
    column-gap: 2rem;

    align-items: center;
    justify-items: center;

    padding: 0 60px;

    margin-top: 60px;
    margin-bottom: 60px;
}

.mainHeaderH1{
    font-size: 40px;
    line-height: 1.2;

    margin-bottom: 15px;
}

.heroParagraph{
    color: rgb(189, 189, 189);

    font-size: 14px;

    margin-bottom: 30px;

    line-height: 1.4;
}

.ctaButtonsContainer{
    gap: 30px;

    margin-bottom: 30px;
}

.button{
    width: 125px;

    border-radius: 18px; 
    border: none;

    font-weight: 700;
    font-size: 16px;

    padding: 10px 0px
}

.appointmentBtn{
    background-color: rgb(0, 166, 255);
    color: rgb(0, 0, 0);    
}

.appointmentBtn:hover{
    box-shadow: 0 0 10px 3px var(--mainBrandColor);
}

.gitHubBtn{
    background-color: black;
    border: 1px solid white;
}

.gitHubBtn:hover{
    box-shadow: 0 0 10px 3px white;
}

.experiencesContainer{
    gap: 30px;

    margin-top: 2rem;
    margin-left: 10px;

    max-width: 80%;
}

.experience{
    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: start;

    width: 120px;
}

.experienceYears{
    font-size: 3rem;
    font-weight: 1000;

    margin-bottom: 0;

    background: -webkit-linear-gradient(#eee, var(--mainBrandColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experienceType{
    width: 50%;

    font-size: 12px;
}

.heroImgWrapper{
    width: min(35rem, 100%);
    height: 520px;
}

.heroImg{
    width: 100%;
    height: 100%;

    object-fit: cover;

    overflow: hidden;

    border-radius: 50%;

    box-shadow: 0 0px 90px 0px var(--mainBrandColor);
}

.projectsSection{
    background-color: #000000;

    padding: 60px;
    padding-top: 0;

    overflow: hidden;
}

.secondaryHeaderH2{
    text-align: center;
    font-size: 34px;
}

.projectsGrid{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;

    max-width: 100%;

    margin-top: 30px;
}

.projectCard{
    background-image: linear-gradient(#eee 50%, var(--mainBrandColor));
}

.projectImg{
    width: 100%;
    height: 250px;

    object-fit: cover;
}

.questionMark{
    object-fit: fill;
}

.projectInformationWrapper{
    padding: 0 30px 15px 30px;
}

.question{
    height: auto;

    justify-content: center;
    align-items: center;
}

.projectTitleAndLinks{
    margin-top: 15px;

    justify-content: space-between;
}

h3{
    margin-bottom: 10px;
    color: black;

    font-size: 26px;
}

.linkIcon{
    width: 35px;
    height: 35px;

    margin-top: -5px;
    margin-left: 1rem;
}

.gitHubIcon{
    width: 25px;
    height: 25px;
}

.projectCtaIcon{
    width: 25px;
    height: 25px;

    margin-left: 30px;
}

.projectDetails{
    color: black;
}

.footer{
    background-color: var(--mainBrandColor);

    margin-top: 120px;

    padding: 60px;
}

.footerInfoGrid{
    grid-template-columns: 0.7fr 1fr;
    gap: 30px;

    width: 80%;

    align-items: center;
    justify-items: center;

    margin-left: auto;
    margin-right: auto;
}

.contactHeader{
    text-align: left;
    
    color: black;

    margin-bottom: 15px;
}

.CTAP{
    max-width: 300px;
    margin-bottom: 15px;
}

.emailAddressContainer{
    align-items: center;

    gap: 10px;
}

.emailIcon{
    margin: 0;
}

.email{
    margin-top: -3px;
}

.footerInfoGrid p{
    color: #000000;
}

.socialsContainer{
    margin-top: 30px;
}

.socialIcon{
    margin-left: 0;
}

.footerBtn{
    margin-left: 60px;
    margin-top: -5px;

    background-color: #000000;
    color:white;
} 

.footerImg{
    min-width: 60%;
    height: 500px;

    object-fit: fill;
}


@media (max-width: 1000px){
    .heroSection{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        row-gap: 30px;
                
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .heroImgWrapper{
        width: min(30rem, 80%);
        height: 470px;
    }

    .projectsGrid{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
    }

    .footerInfoGrid{
        width: auto;
    }
} 

@media (max-width: 800px){
    .heroSection{
        margin-bottom: 60px;
    }

    .heroImgWrapper{
        width: min(30rem, 80%);
        height: 450px;
    }

    .projectImg{
        height: 300px;
    }

    .footer{
        padding: 30px;
    }

    .footerInfoGrid{
        grid-template-columns: 1fr 1fr;
        gap: 30px;    
    }

    .footerBtn{
        margin-left: 30px;
        margin-top: -5px;
    }
}

@media (max-width: 675px) {
    .heroSection{
        padding: 0 30px;
    }

    .projectsSection{
        padding: 30px;
    }

    .projectsGrid{
        grid-template-columns: 1fr;
    }

    .projectImg{
        height: 250px;
    }

    .footerInfoGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        row-gap: 30px;
    }
}

@media (max-width: 475px){
    header{
        padding: 10px;
    }

    .heroSection{
        grid-template-columns: 100vw;

        overflow: hidden;

        padding: 15px;

        margin-top: 15px;
        margin-bottom: 15px;
    }

    .leftHeroSection{
        max-width: 100%;
    }

    .mainHeaderH1,
    .heroParagraph{
        max-width: 90%;
    }

    .mainHeaderH1{
        font-size: 30px;
    }

    .experiencesContainer{
        max-width: 80vw;
    }

    .experience{
        width: 33vw;
    }

    .experienceYears{
        font-size: 40px;
    }

    .heroImgWrapper{
        margin-right: auto;
        margin-left: auto;

        height: 300px;
    }

    .heroImg{
        width: min(25rem, 80%);
        height: 250px;
    }

    .projectsSection{
        padding-top: 0;
    }

    .projectsGrid{
        gap: 30px;
    }



    .footer{
        margin-top: 30px;
    }
}
